#jk_map path {
    fill:rgb(255, 237, 228);
    stroke:rgb(151, 148, 148);
    /* stroke-width: 5px; */
    transition: all .4s;
}

#jk_map  path:hover {
    stroke: rgb(49, 48, 48);
    stroke-width: 6px;
    transform: scale(1.011);
   
}
